<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <th>{{title}} </th>
            <th>{{description}} </th>
            <th>{{price}} </th>
        </tr>
        {{/each}}
    </tbody>
</table>